.top-header {
    background-color: #523737;
    color: white;
    padding : 5px 10px 15px 10px;
    position: fixed;
    width: 100%;
    top: 0;
}

/* top-header안에 있는 header__top 클래스에 세개의 header__column끼리 flex주고
top-header안에 있는 header__bottom 클래스 내에서 세개의 header__column끼리 flex하나 주고 */
.top-header .header__top,
.top-header .header__bottom 
{
    display: flex;
    justify-content: space-between;
}

.top-header .header__top{
    margin-bottom: 15px;
    font-size: 12px;
}
.top-header .header__bottom{
    margin: 0 10px;
}
/* 
여기까지 했는데 아직  아래의 Friends 글씨가 정중앙에 오지 않아서
각 요소가 딱 중앙에 올 수 있도록 폭을 조정하기로. 
이렇게 하면 볼 수 있는 모습은 창을 제일 크게 했을 때 1/3씩 자리를 차지하고
텍스트나 아이템들이 왼쪽 정렬로 되어서 배치됨.*/
.top-header .header__column {
    width: 33%;
}
/* 
우리는 가운데는 창크기 상관없이 가운데, 오른쪽 (배터리랑 설정부분) 은 오른쪽 정렬로
/* 붙게 해야 함. 그래서 두 가지를 따로 지정해주어야 함. */

/* 두번째 요소를 지정할때는 nth-child(2) second-child같은게 없어서.
해당 클래스에서 젤 마지막 요소를 지정할때는 last-child로 언급해주면 됨 */ */
.top-header .header__column:nth-child(2) {
    text-align: center;
}
.top-header .header__column:last-child {
    text-align: right;
}

/* Friends 옆에 숫자에 노란색 적용하기. class로 header__number를 줬었음 그걸 이용
 */
.top-header .header__number {
    color: yellow;
}

/* my profile 부분에 있는 보더 선 */

.friends__section .friends__section-header {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding : 10px 15px;
}
.friends__section .friends__section-title {
    font-size: 12px;
    padding-left: 9px;
    color: #b4b4b4;
}

/* 이제 my profile 아래쪽  */

.friends__section-rows .friends__section-row{
    padding: 10px 0;
}