/* kakaotalk below menu */

.tab-bar {
    background-color: #f7f7f7;
    /* 탭바는 고정되어있어야 하니까, position fixed를 이용 그리고 바닥에 딱 붙어야하니까 bottom은 0으로 */
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding : 10px 30px 5px 30px;
    border-top :1px solid #c1c1c1;
}


/* 아이콘과 밑에 글자를 띄어놔야 하니까 아이콘들만 선택해서 디스플레이 플렉스 한 다음에 블록으로 지정
 */

/* 나란히 붙어있던 걸 줄바꿈하려면 flex column으로  */

.tab-bar .tab-bar_tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #c1c1c1;
}
.tab-bar .tab-bar_tab i {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    /* i클래스에 font-size로 하면 아이콘이지만 크기 조절이 되는구나! */
    font-size: 24px;
    
 }
.tab-bar .tab-bar__title{
    font-size: 10px;
}

/* 이 selected 명령을 위에 놓으니까 색깔 적용이 안되었었는데
아래에 두니까 적용이 됨. 왜지? */
.tab-bar .tab-bar__tab--selected{
    color: #523737;
}